# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv("../data/Salaries.csv")

C:\Users\asgar\AppData\Local\Temp\ipykernel_20572\3981090030.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv("../data/Salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
# Your code here:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
# Your code here
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
# Your code here
salaries=salaries.drop(columns=['Notes'])
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [8]:
# Your code here
salaries['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [9]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [10]:
salaries=salaries.dropna(subset=['Status'])

In [11]:
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [12]:
# Your code here
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [13]:
# Your code here
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [14]:
#it seems that BasePay,OvertimePay,OtherPay,Benefits are objects, but they are float. I am converting them to float
salaries['BasePay']=salaries['BasePay'].astype('float')
salaries['OvertimePay']=salaries['OvertimePay'].astype('float')
salaries['OtherPay']=salaries['OtherPay'].astype('float')
salaries['Benefits']=salaries['Benefits'].astype('float')

C:\Users\asgar\AppData\Local\Temp\ipykernel_20572\3871720852.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['BasePay']=salaries['BasePay'].astype('float')
C:\Users\asgar\AppData\Local\Temp\ipykernel_20572\3871720852.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['OvertimePay']=salaries['OvertimePay'].astype('float')
C:\Users\asgar\AppData\Local\Temp\ipykernel_20572\3871720852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['OtherPay']=salaries['OtherPay'].astype('float')
C:\Users\asgar\AppData\Local\Temp\ipykernel_20572\3871720852.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['Benefits']=salaries['Benefits'].astype('float')

In [15]:
salaries.info() #checking again Dtypes for above columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [16]:
# Your code here
salaries=salaries.reset_index(drop=True)

In [17]:
# Your code here
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [18]:
# Your code here

In [19]:
comparison=salaries["TotalPayBenefits"] == (salaries["BasePay"] + salaries["OvertimePay"] + salaries["OtherPay"] + salaries["Benefits"])
comparison # saving result in new dataframe

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [20]:
# Your code here:
comparison.value_counts(normalize=True)*100 #counting values (True or False) with %

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [21]:
# Your code here:
salaries.groupby('JobTitle').agg({'EmployeeName': ['count']})

                               EmployeeName
                                      count
JobTitle
ACPO,JuvP, Juv Prob (SFERS)               1
ASR Senior Office Specialist             22
ASR-Office Assistant                     15
Account Clerk                            93
Accountant I                              2
...                                     ...
Wire Rope Cable Maint Sprv                1
Worker's Comp Supervisor 1                6
Worker's Compensation Adjuster           26
X-Ray Laboratory Aide                    35
Youth Comm Advisor                        1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [22]:
# Your code here: (compute the "Hourly_Wage")

In [23]:
salaries['Hourly_Wage'] = salaries["TotalPayBenefits"] /(40*50)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [24]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [25]:
df=salaries.loc[(salaries['Status']=='FT')] #filterin only 'FT' employess

In [26]:
df.shape

(22334, 13)

In [27]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
5,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,207.883970
6,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,200.535435

In [28]:
hourly_wage_FT = df['Hourly_Wage']
hourly_wage_FT # defining hourly wage for 'FT' employees in new datafre

1        239.826105
3        209.009610
4        208.717550
5        207.883970
6        200.535435
            ...
28535     22.342995
28824     20.826730
28873     20.595055
29324     18.337755
29794     15.986405
Name: Hourly_Wage, Length: 22334, dtype: float64

In [29]:
hourly_wage_FT.mean()

69.264206407271

In [30]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [31]:
# checking if salary of 75 dollars per hour is our mean of population - ddof=75
# H0 = average salary is equal to 75 and H1 is opposite
# and below I am computing the statistic
(df['Hourly_Wage'].mean()-75)/(np.std(hourly_wage_FT, ddof=1)/np.sqrt(len(hourly_wage_FT)))

-35.80631941460788

In [32]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [33]:
import scipy
scipy.stats.t.ppf(0.05, df=len(hourly_wage_FT)-1)

-1.644921859286657

In [34]:
# Method 2: Use the p-value method.
# Your code here:

In [35]:

scipy.stats.t.cdf(-35.80631941460788, df=len(hourly_wage_FT)-1)

2.2589156167195097e-273

p-value is less than 0.05, so we are rejecting H0 ( average salary is equal to 75 and H1 is opposite)

In [36]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:


#popmean=75$
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_wage_FT, popmean = 75, alternative = "two-sided")
print('stat: ', stat)
print('pval: ', pval)

stat:  -35.80631941460526
pval:  4.517831233839447e-273

Are all the methods in agreement?

no, I got doubled p value from ttest_1samp function compare to p-value method

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [37]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [38]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
5,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,207.883970
6,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,200.535435

In [39]:
police_job_df=salaries.loc[salaries['JobTitle'].str.contains('Police')] # getting all the "Police" jobs from job title
police_job_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
86,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
143,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
181,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
300,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500

In [40]:
year_salary=police_job_df["TotalPayBenefits"]
year_salary

3        418019.22
86       301749.81
143      289114.95
181      280222.76
300      267235.00
           ...
37781       374.42
37878       242.66
37906       212.39
37975       134.78
38030        70.37
Name: TotalPayBenefits, Length: 1901, dtype: float64

In [41]:
year_salary.mean() # mean salary for police positions

148349.04212519721

In [42]:
#computing statistics
(year_salary.mean()-86000)/(np.std(year_salary,ddof=1)/np.sqrt(len(year_salary)))

50.252984742109916

In [43]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [44]:
scipy.stats.t.ppf(0.05, df=len(year_salary)-1)

-1.645656004264731

In [45]:
# Method 2: Use the p-value method.
# Your code here:

In [46]:
scipy.stats.t.cdf(50.252984742109916, df=len(year_salary)-1)

1.0

In [47]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [48]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(year_salary, popmean = 86000, alternative = "greater")
print('stat: ', stat)
print('pval: ', pval)

stat:  50.252984742109945
pval:  0.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [49]:
# Your code here: (Get the department which has most employees)

In [50]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
5,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,207.883970
6,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,200.535435
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28535,139067,Nasan M Snell,Public Svc Aide-Public Works,26653.98,0.00,0.00,18032.01,26653.98,44685.99,2014,San Francisco,FT,22.342995
28824,139356,Eddie Ellenberg Iv,Environmental Service Worker,31856.71,1529.52,350.99,7916.24,33737.22,41653.46,2014,San Francisco,FT,20.826730
28873,139405,Bernard O Sices,Environmental Service Worker,31592.80,1274.80,178.50,8144.01,33046.10,41190.11,2014,San Francisco,FT,20.595055
29324,139856,Julie Y Zhen,Public Svc Aide-Public Works,27980.52,349.54,777.30,7568.15,29107.36,36675.51,2014,San Francisco,FT,18.337755
29794,140326,Camea L Davis,Public Svc Aide-Public Works,27116.62,0.00,0.00,4856.19,27116.62,31972.81,2014,San Francisco,FT,15.986405

In [51]:
group_jobtitle = salaries.groupby('JobTitle').agg({'Id': ['count']})
group_jobtitle

                                  Id
                               count
JobTitle
ACPO,JuvP, Juv Prob (SFERS)        1
ASR Senior Office Specialist      22
ASR-Office Assistant              15
Account Clerk                     93
Accountant I                       2
...                              ...
Wire Rope Cable Maint Sprv         1
Worker's Comp Supervisor 1         6
Worker's Compensation Adjuster    26
X-Ray Laboratory Aide             35
Youth Comm Advisor                 1

[996 rows x 1 columns]

In [52]:
group_jobtitle.idxmax()

Id  count    Transit Operator
dtype: object

In [54]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [55]:
Transit_operator_df= salaries.loc[salaries['JobTitle'].str.contains('Transit Operator')]
Transit_operator_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3223,113755,Nancy Padilla,Transit Operator,70636.56,78492.00,6636.63,38481.57,155765.19,194246.76,2014,San Francisco,FT,97.123380
3537,114069,Louis E Galarce,Transit Operator,71278.32,73221.72,6785.53,38861.51,151285.57,190147.08,2014,San Francisco,FT,95.073540
3766,114298,Duane Allen,Transit Operator,70029.28,69941.99,8592.74,38733.41,148564.01,187297.42,2014,San Francisco,FT,93.648710
4380,114912,Jaime O Olivar,Transit Operator,68842.56,65726.67,8828.06,38206.75,143397.29,181604.04,2014,San Francisco,FT,90.802020
4891,115423,Freeman Chee,Transit Operator,69777.22,60584.96,8146.38,38480.23,138508.56,176988.79,2014,San Francisco,FT,88.494395

In [58]:
salary_operator=Transit_operator_df['Hourly_Wage'] #take the column with only with hourly wage
print ('mean is', Transit_operator_df['Hourly_Wage'].mean())
(Transit_operator_df['Hourly_Wage'].mean()-35)/(np.std(salary_operator,ddof=1)/np.sqrt(len(salary_operator)))

mean is 43.35949773900775

19.06499032490655

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [60]:
scipy.stats.t.ppf(1-0.05, df=len(salary_operator)-1)

1.645468777247024

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [61]:
scipy.stats.t.cdf(19.06499032490655, df=len(salary_operator)-1)

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [63]:
stat, pval = ttest_1samp(salary_operator, popmean = 35, alternative = "less")
print('stat: ', stat)
print('pval: ', pval)

stat:  19.064990324906386
pval:  1.0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [ ]:
# Your code here: (Create the function)

In [ ]:
def title_finder(x): 
    if 'Police' in x:
        return "Policemen"
    elif 'Fire' in x:
        return "Firemen"
    elif 'Med' in x:
        return 'Medical'
    elif 'Nurse' in x:
        return 'Medical'
    elif 'Attorney' in x: 
        return 'Lawyer'
    else:
        return 'Other'

In [ ]:
# Your code here: (Apply the function)

In [ ]:
salaries['employee_group'] = salaries['JobTitle'].apply(title_finder)

In [ ]:
salaries.head()

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [ ]:
pd.crosstab(salaries['employee_group'],salaries['Status'])

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [ ]:
new_dataframe=pd.crosstab(salaries['employee_group'],salaries['Status'])

In [ ]:
new_dataframe

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [ ]:
firemen_ft=(1333+178)*(1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [ ]:
firemen_pt=(1333+178)*(178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [ ]:
lawyers_ft=(317+102)*(1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
lawyers_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [ ]:
lawyers_pt=(317+102)*(178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
lawyers_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [ ]:
medical_ft=(1028+2889)*(1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
medical_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [ ]:
medical_pt=(1028+2889)*(178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
medical_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [ ]:
other_ft=(18126+12245)*(1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
other_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [ ]:
other_pt=(18126+12245)*(178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
other_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [ ]:
policemen_ft=(1530+371)*(1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
policemen_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [ ]:
policemen_pt=(1530+371)*(178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
policemen_pt

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [ ]:
FT_Employees=[firemen_ft,lawyers_ft,medical_ft,other_ft,policemen_ft]
PT_Employees=[firemen_pt,lawyers_pt,medical_pt,other_ft,policemen_pt]
dictionary = {'FT':FT_Employees,'PT':PT_Employees,}
dataframe=pd.DataFrame.from_dict(dictionary, orient = 'columns')
dataframe

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [ ]:
import scipy.stats as st
scipy.stats.chi2_contingency(new_dataframe)

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function